.container {
  margin-top: 50px;
}

.footer-copyright {
  background-color: #222222;
  color: f8f8f8;
}
.table, th, td {
  border: 1px solid rgb(158, 154, 154);
  border-collapse: collapse;
}
.th, td {
  padding: 5px;
}

.tab-link{
  font-size: 0.875rem;
line-height: 1;
display: block;
padding: .825rem 1rem;
}