.carousel-inner {
  height: 60vh;
}
.col-lg-12 {
  margin-top: 50px;
}
.footer-top {
  margin-top: 100px;
  background: #1c1c1c;
}
.container-fluid {
  margin-right: auto;
  margin-left: auto;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 20px;
  text-align: center;
}
.footer-items {
  color: #f8f8f8;
}
